/* * adds css to all elements */

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
        scroll-behavior: smooth;
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color:#0A173A;
    
}

.container {
    color:white;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
  }

  .contactbox {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    background-color: #000729;
    filter: opacity(80%);
  }

  .field {
    width: 100%;
    border: 2px solid #00545d;
    outline: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-bottom: 22px;
    transition: 0.3s;
  }
  
  .field:hover {
    background-color: transparent;
  }
  
  textarea {
    min-height: 150px;
  }
  
  .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #00545d;
    color: white;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #51979f;
  }
  
  .field:focus {
    border: 2px solid #51979f;
    background-color:#000729;
  }

  .contact {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: #0A173A;
    background-size: cover;
    background-position:center;
    position:relative;
    overflow: hidden;
}

.contact1 {
    text-align: center;
    justify-content: center;
    color: #fbfcfd;
    position: relative;
    top: 40%;
    right: 8%
    z-index: 1;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
  .left {
    height: 200px;
  }
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.nav-links li {
    list-style: none;
    justify-content: center;

}
.nav-links a {
    color: #fbfcfd;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
}

/* Hero class */

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
       
    /* PARALAX effect */
        background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

    /* background-size: cover covers the whole page */
    
    background-size: cover;
    background-position:center;
    position:relative;

    /* With the hidden value, the overflow is clipped, and the rest of the content is hidden:  */

    overflow: hidden;
    
}



/* logo class */

.logo {
    width: 250px;
    cursor: pointer;
}

/* navbar class */

.navbar {
        width: 85%;
        height: 15%;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        

}

/* Button */

button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    postion: fixed;
    z-index:4;
}

button a {
    text-decoration: none;
    color: #fbfcfd;
}

.banner1 {
    color: #fbfcfd;
    postion: sticky;
    z-index: 1;
    font-size: 50px;
    text-align: center;
    transform: translateY(-50%);
    line-height: 80px;
}



/* content class */

.content {

    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-right: 100px;

    /* transform centers the element */

    transform: translateY(-50%);

    /* Z Index (z-index) is a CSS property that defines the order of overlapping HTML elements.
     Elements with a higher index will be placed on top of elements with a lower index.*/
     
    z-index: 2;
}

/* Header 1 */

h1 {
    font-size: 50px;
    margin: 10px O 30px;
    /* line-height:horizontal spacing between header text */
    line-height: 80px;
    text-align: right;
    text-align: center;
    

}

small {
    padding-left: 420px;
    font-size: 30px;
    
}

/* master class */

.master {
    width: 100%;
    height: 100vh;
    background-color: #0A173A;
    background-size: cover;
    background-position:center;
    position:relative;
    overflow: hidden;
    
}

.contact {
        display:flex;
        justify-content: center;
        width: 100%;
        height: 25vh;
        background-color: #0A173A;
        background-size: cover;
        background-position:center;
        position:relative;
        overflow: hidden;
}



p a{
    text-decoration: none;
    color: #fbfcfd;

}

/* main class */

.main{
    text-align: center;
    justify-content: center;
    color: #fbfcfd;
    position: relative;
    top: 40%;
    z-index: 1;
    
}

/* header 2 */

h2 {
    font-size: 50px;
    text-align: center;
    margin: auto 200px;

    /* line-height:horizontal spacing between header text */

    line-height: 60px;
}

/* menu class */

.menu {
    /* using display block because we are using a img element and changing it to a block-level element */

    display: block;
    width: 25px;

    /* using auto to horizontally center the element within its container. */

    margin: 40px auto 0;

    /* cursor pointer makes the cursor change on icon */

    cursor:pointer;
}



.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;

}

/* bubbles class & styling */

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    /* bottom element makes sure the bubbles start in the right position */
    bottom: -70px;
}

/* keyframes bubble CSS at-rule controls the intermediate steps in a CSS animation sequence by defining styles for keyframes (or waypoints) along the animation sequence. */

@keyframes bubble{
    0% {
        transform: translateY(0); 
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh); 
        opacity: 0;
    }
}

/* The :nth-child selector allows you to select one or more elements based on their source order, according to a formula. */

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2) {
    animation-delay: 1s;
}
.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
    animation-delay: 3s;
}
.bubbles img:nth-child(6) {
    width: 20px;
    animation-delay: 6s;
}
.bubbles img:nth-child(7) {
    width: 35px;
    animation-delay: 7s;
}

/* fade in animation */

.main-animation {
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

  * {box-sizing:border-box}

footer {
    
    background-color: #0A173A;
}

.contact {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: #0A173A;
    background-size: cover;
    background-position:center;
    position:relative;
    overflow: hidden;
}

.contact1 {
    text-align: center;
    justify-content: center;
    color: #fbfcfd;
    position: relative;
    top: 30%;
    right: 8%
    z-index: 1;
}

/* .contact {
  
    margin-top: 300px;
    margin-bottom:150px;
} */

.location {
    color: #fbfcfd;
    position: relative;
    z-index: 1;
    bottom: 53%;
    left: 22%;
    font-size: 20px;
}


.map {
    display: flex;
    margin-top: 200px;
    margin-bottom:150px;
    margin-right: 100px;
    border-radius: 2000px;
    padding-left: 200px;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* fade in animation */
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media screen and (max-width: 1024px) {
    .nav-links  {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        
    }
    .nav-links {
        postion: absolute;
        right: 0px;
        height:5vh;
        top: 8vh;
        background-color: #0A173A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);

    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    color: white;
  }
  nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 5vh;
      background-color:#0A173A;
      border-radius: 0%;
      
  }
  
  
  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 100%;
      
  }
  .nav-links li {
      list-style: none;
      justify-content: center;
  
  }
  .nav-links a {
      color: #fbfcfd;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size:14px;
  }
  
  
  
  .logo {
      width: 250px;
      cursor: pointer;
      border-radius: 0;
      margin-left:2.5rem;
      margin-top: 2.5rem;
  }
  
  button {
      color: #fbfcfd;
      padding: 10px 25px;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 20px;
      outline: none;
      cursor: pointer;
      margin-top:.5rem;
  }
  
  
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
       
    /* PARALAX effect */
        background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
  
    /* background-size: cover covers the whole page */
    
    background-size: cover;
    background-position:center;
    position:relative;
  
    /* With the hidden value, the overflow is clipped, and the rest of the content is hidden:  */
  
    overflow: hidden;
    
  }
  
  .contactbox {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    text-align: center;
    background-color: #000729;
    background-color: opacity (40%);
    filter: opacity(80%);
    
  }
  
  
  
  .right {
    padding: 25px 40px;
  }
  
  h2 {
    
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  h2:after {
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: white;
  }
  
  .field {
    width: 100%;
    border: 2px solid #00545d;
    outline: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin-bottom: 22px;
    transition: 0.3s;
  }
  
  .field:hover {
    background-color: transparent;
  }
  
  textarea {
    min-height: 150px;
  }
  
  .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #00545d;
    color: white;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #51979f;
  }
  
  .field:focus {
    border: 2px solid #51979f;
    background-color:#000729;
  }
  
  footer {
      
      background-color: #0A173A;
  }
  
  .content3 {
      display:flex;
      justify-content: center;
  }
  .contact {
      display:flex;
      justify-content: center;
      width: 100%;
      height: 25vh;
      background-color: #0A173A;
      background-size: cover;
      background-position:center;
      position:relative;
      overflow: hidden;
  }
  
  .contact1 {
      text-align: center;
      justify-content: center;
      color: #fbfcfd;
      position: relative;
      top: 40%;
      right: 8%
      z-index: 1;
  }
  
  @media screen and (max-width: 880px) {
    .contact-box {
      grid-template-columns: 1fr;
    }
    .left {
      height: 200px;
    }
  }
  


    