*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    bacground-position:center;
    position:relative;
    overflow: hidden;
}

.logo {
    width: 250px;
    cursor: pointer;
}

.navbar {
        width: 85%;
        height: 15%;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
}

button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content {

    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;

    /* transform centers the element */

    transform: translateY(-50%);

    /* Z Index (z-index) is a CSS property that defines the order of overlapping HTML elements.
     Elements with a higher index will be placed on top of elements with a lower index.*/
     
    z-index: 2;
}

h1 {
    font-size: 80px;
    margin: 10px O 30px;
    /* line-height:horizontal spacing between header text */
    line-height: 80px;

}

.side-bar {
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);

    /*  You use the positioning attributes top, left, 
    bottom, and right to set the location. Remember that these values will be relative to the next parent element with relative (or absolute) positioning. 
    If there is no such parent, it will default all the way back up to the <html> element itself meaning it will be placed relative to the page itself. */

    position: absolute;
    right:0 ;
    top: 0;
}
.menu {
    /* using display block because we are using a img element and changing it to a block-level element */

    display: block;
    width: 25px;

    /* using auto to horizontally center the element within its container. */

    margin: 40px auto 0;

    /* cursor pointer makes the cursor change on icon */

    cursor:pointer;
}


